* {
    margin: 0;
}

body{
    padding: 0;
    box-sizing: border-box; 
    background-color: hsl(30, 38%, 92%);
}

.card-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "img" 
        "info";
    --paragraph-color: hsl(228, 12%, 48%);
    --btn-radius: 8px;
    --btn-color: hsl(158, 36%, 37%);
    --white: hsl(0, 0%, 100%);
}

.card-image {
    max-width: 100%;
    display: block;
    grid-area: img;

    /* MOBILE */
    border-top-left-radius: var(--btn-radius);
    border-top-right-radius: var(--btn-radius);
}

.card-info {
    grid-area: info;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
    "prodType"
    "title"
    "description"
    "prices"
    "button";

    padding: 1.25rem;
    border-bottom-left-radius: var(--btn-radius);
    border-bottom-right-radius: var(--btn-radius);

    background-color: var(--white);
}

.product-type {
    /* All */
    grid-area: prodType;
    margin-bottom: .75rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;   
    color: var(--paragraph-color); 

    /* Mobile */
    font-size: clamp(.7rem, 0.6vw + .475rem , 1rem); /*FONT*/
    letter-spacing: 3px;
}

/*.7rem*/


.card-title {
    /* ALL */
    grid-area: title;
    margin-bottom: 1rem;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    line-height: 2rem;

    /* MOBILE */
    font-size: 2rem; /*FONT*/
}

.card-description {
    /* ALL */
    grid-area: description;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--paragraph-color);

    /* MOBILE */
    font-size: 14px; /*FONT*/
}

.prices {
    grid-area: prices;
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 1rem
}

.card-adjusted-price {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: var(--btn-color);

    /* MOBILE */
    font-size: 2rem; /*FONT*/
}

.card-original-price {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: line-through;
    color: var(--paragraph-color);
    align-self: center;

    /* MOBILE */
    font-size: .85rem; /*FONT*/
}

.card-btn {
    grid-area: button; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--btn-color);
    border-radius: var(--btn-radius);
    color: var(--white);
    padding: 1rem 6px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.card-btn:hover {
    background-color: hsl(212, 21%, 14%);
}

.btn-icon {
    margin-right: 8px;
    /* max-height: .8rem */
}


@media screen and (min-width: 600px){
    .card-container {        
        grid-template-columns: 20% 30% 70% 20%;
        grid-template-areas: ". img info .";
    }

    picture {
        grid-column: 2 / 3;
    } 

    .card-image {
        border-top-left-radius: var(--btn-radius);
        border-bottom-left-radius: var(--btn-radius);
        border-top-right-radius: 0%;
    }

    .card-info {
        grid-template-rows: 3rem 30% 25% 20% 12%;
        padding:  3rem 2.25rem 2rem 2.25rem;
        max-width: 350px;
    }

    .product-type {
        /* font-size: 1rem; FONT */
        margin-bottom: 1rem;
        letter-spacing: 6px;
    }

    .card-title {
        max-width: 250px;
        font-size: 2.55rem; /*FONT*/
        line-height: 2.5rem;
        /* padding-bottom: 3rem; */
    }

    .card-description {
        font-size: 1.2rem; /*FONT*/
        line-height: 2rem;
    }

    .prices {
        align-items: center;
        justify-items: center;
        grid-template-columns: 40% 35%;
    }

    .card-adjusted-price {
        font-size: 2.25rem;
    }

    .card-original-price {
        font-size: 1rem; /*FONT*/
    }

    .card-btn {
        
    }

    .btn-text {
        font-size: 1rem; /*FONT*/
    }
}



/* .card-container {
    display: grid;
    background-color: hsl(30, 38%, 92%);
    --paragraph-color: hsl(228, 12%, 48%);
    --btn-radius: 8px;
}

.product-type {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: .65rem;
    color: var(--paragraph-color);
}

.card-title {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 1.75rem;
}

.card-description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: .85rem;

    color: var(--paragraph-color);
    line-height: 1.5rem;
}

.prices {
    display: flex;
    align-items: center;
}

.card-adjusted-price {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: hsl(158, 36%, 37%);
    margin-right: 1rem;
}

.card-original-price {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    font-size: .6rem;
    text-decoration: line-through;
    color: var(--paragraph-color);
}

.card-btn {
    display: flex;
    border: none;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    margin-block-start: 1.5rem;
    border-radius: 8px;
    padding: 0 6px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card-btn:hover {
    background-color: hsl(212, 21%, 14%);
}
.btn-icon {
    margin-right: 8px;
    max-height: .75rem;
}

.btn-text {
    display: inline;
    font-size: .7rem; 
}

@media screen and (max-width: 1440px) {

    .card-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-height: fit-content;
    }

    .card-image {
        max-height: 90vh;
        grid-column: 2 / 3;
        border-top-left-radius: var(--btn-radius);
        border-bottom-left-radius: var(--btn-radius);
    }

    .card-info {
        padding: 1.75rem;
        background-color: hsl(0, 0%, 100%);
        grid-column: 3 / 4;
        border-top-right-radius: var(--btn-radius);
        border-bottom-right-radius: var(--btn-radius);
        max-height: 90vh;
    }

    .card-title {
        max-width: 200px;
        font-size: 2rem;
    }

    .card-description {
        max-width: 300px;
        font-size: 1.2rem;
    }
    
    .card-btn {
        width: 100%;
    }
    
}

@media screen and (max-width: 375px) {

    .card-container {
        padding: .5rem 0.75rem;
        max-height: 100vh;
    }

    p:not(.btn-text){
        margin-block-start: .75rem;
        margin-block-end: 0;
    }

    h1 {
        margin-block-end: 0;
        margin-block-start: .4rem;
    }

    .card-image {
        display: block;
        max-width: 100%;
        height: auto;
        border-top-left-radius: var(--btn-radius);
        border-top-right-radius: var(--btn-radius);
    }

    .card-info {
        display: grid;
        padding: 0 1rem 1rem 1rem;
        background-color: hsl(0, 0%, 100%);
        border-bottom-left-radius: var(--btn-radius);
        border-bottom-right-radius: var(--btn-radius);
    }
    .card-title {
        max-width: 450px;
    }

    .card-description {
        max-width: 450px;
    }

    .prices {
        margin-block-start: 1rem;
    }

    .card-btn {
        margin-block-start: .8rem;
    }
} */