* {
    margin: 0;
}

body{
    padding: 0;
    box-sizing: border-box; 
    background-color: hsl(30, 38%, 92%);
   
}

.card-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "img" 
        "info";
    --paragraph-color: hsl(228, 12%, 48%);
    --btn-radius: 8px;
    --btn-color: hsl(158, 36%, 37%);
    --white: hsl(0, 0%, 100%);
}

.card-image {
    max-width: 100%;
    display: block;
    grid-area: img;

    border-top-left-radius: var(--btn-radius);
    border-top-right-radius: var(--btn-radius);
}

.card-info {
    grid-area: info;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
    "prodType"
    "title"
    "description"
    "prices"
    "button";

    padding: 1.25rem;
    border-bottom-left-radius: var(--btn-radius);
    border-bottom-right-radius: var(--btn-radius);

    background-color: var(--white);
}

.product-type {
    grid-area: prodType;
    margin-bottom: .75rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;   
    color: var(--paragraph-color); 

    font-size: clamp(.7rem, 0.6vw + .475rem , 1rem); 
    letter-spacing: 3px;
}


.card-title {
    grid-area: title;
    margin-bottom: 1rem;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    line-height: 2rem;

    font-size: clamp(2rem, 2.1vw + .7125rem, 2.55rem); 
}

.card-description {
    grid-area: description;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--paragraph-color);

    font-size: clamp(.875rem, .65vw + .63125rem, 1.2rem); 
}

.prices {
    grid-area: prices;
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 1rem
}

.card-adjusted-price {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: var(--btn-color);

    font-size: clamp(2rem, 2.1vw + .7125rem, 2.55rem); 
}

.card-original-price {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: line-through;
    color: var(--paragraph-color);
    align-self: center;

    font-size: clamp(.85rem, .3vw + .7375rem, 1rem); 
}

.card-btn {
    grid-area: button; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--btn-color);
    border-radius: var(--btn-radius);
    color: var(--white);
    padding: 1rem 6px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.btn-text {
    font-size: clamp(.825rem, .35vw + .69375rem, 1rem);
}

.card-btn:hover {
    background-color: hsl(212, 21%, 14%);
}

.btn-icon {
    margin-right: 8px;
}


@media screen and (min-width: 600px){
    .card-container {        
        grid-template-columns: 20% 30% 70% 20%;
        grid-template-areas: ". img info .";
    }

    picture {
        grid-column: 2 / 3;
    } 

    .card-image {
        border-top-left-radius: var(--btn-radius);
        border-bottom-left-radius: var(--btn-radius);
        border-top-right-radius: 0%;
    }

    .card-info {
        grid-template-rows: 2.25rem 30% 27% 20% 12%;

        border-top-right-radius: var(--btn-radius);
        border-bottom-left-radius: 0;

        padding:  3rem 2.25rem 1.75rem 2.25rem;
        max-width: 350px;
    }

    .product-type {
        margin-bottom: 1rem;
        letter-spacing: 6px;
    }

    .card-title {
        max-width: 250px;
        line-height: 2.5rem;
    }

    .card-description {
        line-height: 2rem;
    }

    .prices {
        align-items: center;
        justify-items: center;
        grid-template-columns: 40% 25%;
    }

    .card-original-price {
        font-size: 1rem; 
    }
}